<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= style.formatted_content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a new style', new_style_path %>
